/* CSS for PHeroSection */
.mouse-hero-container {
  margin-top: -20px;
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  background-color: white;
}

.mouse-hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
  background-color: white;
  z-index: 2;
}

.mouse-hero-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #008080;
  text-align: left;
}

.mouse-hero-content p {
  font-size: 1.5rem;
  color: #008080;
  font-weight: 500;
  text-align: left;
}

.mouse-hero-image-wrapper {
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mouse-hero-image {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}